[mysqld]
server-id = 2
log_bin = /var/lib/mysql/mysql-bin.log
binlog_format = ROW
relay_log = /var/lib/mysql/mysql-relay-bin
log_replica_updates = ON  # Instead of log_slave_updates = ON
read_only = ON
super_read_only = ON
gtid_mode = ON
enforce_gtid_consistency = ON

# InnoDB settings
innodb_flush_log_at_trx_commit = 1

# Replication settings
binlog_cache_size = 1M
max_binlog_size = 100M
